<section class="nav">
        <a href="#" class="logo">
            <img src="img/logo/logo.svg" alt="logo" class="logo__img">
        </a>
    <div class="menu" id="top-menu">
        <div class="nav__list">
            <a href="#" class="nav__item">New York</a>
            <a href="#" class="nav__item">For job seekers</a>
            <a href="#" class="nav__item">For employers</a>
        </div>

        <div class="nav__btn-box">
            <button class="btn btn_width-big btn_white">Create a resume</button>
            <button class="btn btn_width-small btn_red btn-red-mobile">Sing In</button>
        </div>
    </div>
    <button class="btn-burger" id="btn-menu">
        <span class="btn-burger__text">Menu</span>
        <div class="btn-burger__line"></div>
    </button>
</section>